<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE ba:events PUBLIC "-//BRATISLAVA.PM.ORG//EVENTS 1.1//EN" "http://bratislava.pm.org/dtd/events-1.1.dtd">
<ba:events xmlns:ba="http://bratislava.pm.org/dtd/events-1.1.dtd">

<ba:event>
	<ba:title>Facebook group created</ba:title>
	<ba:link>http://www.facebook.com/group.php?gid=43903647807</ba:link>
	<ba:subject>news</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-01-10T19:02:00+02:00</ba:date>
	<ba:id>facbookGroup</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>10 Jan 2009 19:02</b></p>
		<p>
			(SK) bola vytvorená <a href="http://www.facebook.com/group.php?gid=43903647807">Bratislava
			Perl Mongers</a> group @ Facebook.
		</p>
		<p>
			(EN) <a href="http://www.facebook.com/group.php?gid=43903647807">Bratislava
			Perl Mongers</a> group was created @ Facebook.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>Projects page</ba:title>
	<ba:link>http://bratislava.pm.org/projects/</ba:link>
	<ba:subject>news</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-01-10T19:07:00+02:00</ba:date>
	<ba:id>projectsPage</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>10 Jan 2009 19:07</b></p>
		<p>
			(SK) O projektoch ktoré vytvorili, alebo na ktorých pracujú
			Bratislava Perl Mongeri sa dá viac dočítať
			<a href="http://bratislava.pm.org/projects/">tu</a>.
		</p>
		<p>
			(EN) Now it's possible to read about projects made by or
			contributed by Bratislava Perl Mongers
			<a href="http://bratislava.pm.org/en/projects/">here</a>.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>Who is Who page</ba:title>
	<ba:link>http://bratislava.pm.org/who.html</ba:link>
	<ba:subject>news</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-01-10T20:02:00+02:00</ba:date>
	<ba:id>whoPage</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>10 Jan 2009 20:02</b></p>
		<p>
			(SK) <a href="http://bratislava.pm.org/who.html">Kto sú</a> Bratislava Perl Mongers
		</p>
		<p>
			(EN) <a href="http://bratislava.pm.org/en/who.html">Discover</a> the Bratislava Perl Mongers
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>Tech-Social meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#tech-social_2009-01-22</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-01-22T18:00:0+02:00</ba:date>
	<ba:id>tech-social_2009-01-22</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>22 Jan 2009 18:00</b></p>
		<p>
			(SK) sa uskutočilo tech-social stretnutie s týmito prezentáciami:<br/>
			Jonathan - ‎There's More Than One Way To Dispatch It‎ (~20min)<br/>
			Emmanuel - Xacobeo (~20min)
		</p>
		<p>
			(EN) a tech-social meeting took place with this presentations:<br/>
			Jonathan - ‎There's More Than One Way To Dispatch It‎ (~20min)<br/>
			Emmanuel - Xacobeo (~20min)
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>Tech-Social meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#tech-social_2009-02-19</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-02-25T09:36:0+02:00</ba:date>
	<ba:id>tech-social_2009-02-19</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>19 Feb 2009 18:00</b></p>
		<p>
			(SK) V skratke - <a href="http://search.cpan.org/perldoc?SVGraph">http://search.cpan.org/perldoc?SVGraph</a>.

			Na <a href="http://svn.comsultia.com/svgraph/">http://svn.comsultia.com/svgraph/</a> nájdete pôvodnú verziu a na CPAN-e
			si môžete stiahnuť .tar.gz. .pm súbory (okrem komentárov) neboli
			zmenené. Pribudli Build.PL, Changes, MANIFEST, MANIFEST.SKIP, t/ a
			examples/ na vytvorenie CPAN balíčka.

			Výsledné grafy z príkladov sa dajú pozrieť tu:

			<a href="http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph.svg">http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph.svg</a>,
			<a href="http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph2.svg">http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph2.svg</a>.
		</p>
		<p>
			(EN) Shortly - <a href="http://search.cpan.org/perldoc?SVGraph">http://search.cpan.org/perldoc?SVGraph</a>.

			In <a href="http://svn.comsultia.com/svgraph/">http://svn.comsultia.com/svgraph/</a> you can find the original version
			and on CPAN you can download .tar.gz. .pm files (besides comments) were
			not changed. Build.PL, Changes, MANIFEST, MANIFEST.SKIP, t/ and
			examples/ were added to create a package.

			Here you can see the two example graphs:
			
			<a href="http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph.svg">http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph.svg</a>,
			<a href="http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph2.svg">http://cpansearch.perl.org/src/COMSULTIA/SVGraph-0.02/doc/src/images/graph2.svg</a>.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>Tech-Social meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#tech-social_2009-03-26</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-03-26T18:00:0+02:00</ba:date>
	<ba:id>tech-social_2009-03-26</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>26 Mar 2009 18:00</b></p>
		<p>
			(SK) Program stretnutia bol nasledový:
		</p>
		<ul>
			<li>objednávka pizze</li>
			<li>ukážka libchamplain (Emmanuel)</li>
			<li>použitie XML::LibXML::Reader+XML::Compile::Schema (Jozef)</li>
		</ul>
		<p>
			Pizza tentoraz prišla na čas a nezostali sme hladný!
			Emmanuel predviedol projekt <a href="http://projects.gnome.org/libchamplain/">libchamplain</a> a jeho
			<a href="http://search.cpan.org/perldoc?Champlain">Perl C-bindings</a> pomocou
			ktorých sa dá do GTK+ aplikácie zakomponovať mapa. Jozef ukázal ako pomocou
			<a href="http://search.cpan.org/perldoc?XML::LibXML::Reader">XML::LibXML::Reader</a>
			+<a href="http://search.cpan.org/perldoc?XML::Compile::Schema">XML::Compile::Schema</a>
			spracoval 11MB xml súbor.
		</p>
		<p>
			(EN) This was a program of the meeting:
		</p>
		<ul>
			<li>pizza ordering</li>
			<li>demonstration of libchamplain (Emmanuel)</li>
			<li>XML::LibXML::Reader+XML::Compile::Schema example usage (Jozef)</li>
		</ul>
		<p>
			This time pizza arrived on time and we were not hungry!
			Emmanuel showed us project <a href="http://projects.gnome.org/libchamplain/">libchamplain</a> and his
			<a href="http://search.cpan.org/perldoc?Champlain">Perl C-bindings</a> that
			could be used to have maps in the GTK+ application. Jozef showed how he using
			<a href="http://search.cpan.org/perldoc?XML::LibXML::Reader">XML::LibXML::Reader</a>
			+<a href="http://search.cpan.org/perldoc?XML::Compile::Schema">XML::Compile::Schema</a>
			parsed a 11MB xml file.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>Social meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#tech-social_2009-05-26</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-05-26T18:00:0+02:00</ba:date>
	<ba:id>tech-social_2009-05-26</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>26 May 2009 18:00</b></p>
		<p>
			(SK) Tentoraz bez prezentácií ale zato bolo viac času na dobré pivo!
			Toto stretnutie bolo aj posledné ktoré Emmanuel pravidelne navštívil
			kedže od budúceho mesiaca bude na druhom konci Európy. V mene Ba.pm
			mu chcem poďakovať za všetky strasti čo podstúpil s našincami aby
			ich naučil programovať v Perl-e a za všetky vedomosti čo priniesol
			a odovzdal u nás v Bratislave po tom čo sem prišiel spoza veľkej mláky.
			Bude nám chýbať! Prajeme mu veľa úspechov na nasledujúcej životnej púti.
		</p>
		<p>
			(EN) Without presentations but at least there was a lot of
			time for a good beer! This meeting was the last one that Emmanuel
			regulary attended. For the next months (years?) he will be on the other side
			of the Europe. In the name of Ba.pm I would like to say: Thank you Emmanuel
			for all you knowledge that you brought and left here. We will miss
			you! We wish you all the best for your upcomming life journey.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>YAPC::EU::2009</ba:title>
	<ba:link>http://conferences.yapceurope.org/ye2009/</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-05-27T21:27:0+02:00</ba:date>
	<ba:id>yapc-eu-2009</ba:id>
	<ba:description xmlns="http://www.w3.org/1999/xhtml">
		<p><b>3 - 5 August 2009</b></p>
		<p>
			<a href="http://yapceurope2009.org/">
      		<img src="http://yapceurope2009.org/ye2009/banners/banner-728x90.png"
           		alt="Yet Another Perl Conference :: Europe :: 2009"
           		style="border: none;" />
    		</a>
		</p>
		<p>
		(SK) Desiate vidanie európskej "Yet Another Perl Conference" sa
		uskutočí v Lisabone - Portugalsku na "Faculty of Sciences, University of Lisbon"
		a to od 3. do 5. augusta.
		</p>
		<p>
		(EN) The Tenth Edition of the european Yet Another Perl Conference will
		be held in Lisbon, Portugal,  in the Faculty of Sciences, University of Lisbon,
		from 3 to 5 August.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">sk/en events separácia :-)</ba:title>
	<ba:title lang="en">sk/en events separation</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#sk-en-events</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-06-10T19:27:0+02:00</ba:date>
	<ba:id>sk-en-events</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>10 Jun 2009</b></p>
		<p>
		(SK) toto je posledná dvojjazyčná správa, od teraz len po Slovensky ;-)
		</p>
		<p>
		(EN) This is the last dual-language message. from now on there will be
		two feeds. One in <a href="http://bratislava.pm.org/news.rdf">Slovak</a>
		(this one) and on in <a href="http://bratislava.pm.org/en/news.rdf">English</a>.
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>10 Jun 2009</b></p>
		<p>
		Welcome to English feed!
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">ba.pm meeting - Júl</ba:title>
	<ba:title lang="en">ba.pm meeting - July</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#tech-social_2009-07-17</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-07-15T22:18:0+02:00</ba:date>
	<ba:id>tech-social_2009-07-15</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>17 Júla 2009 o 18:00</b></p>
		<p>sa stretneme "U Justína". Viac info v
		<a href="http://mail.pm.org/pipermail/bratislava-pm/2009-July/000198.html">mailing liste</a>
		alebo online na IRC.
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>17 July 2009 at 6pm</b></p>
		<p>we meet in "U Justína" pub. More information in
		<a href="http://mail.pm.org/pipermail/bratislava-pm/2009-July/000198.html">mailing list</a>
		or online on IRC.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">YAPC::EU::2010 - Pisa, Taliansko</ba:title>
	<ba:title lang="en">YAPC::EU::2010 - Pisa, Italy</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#yapc-eu-2010-announcement</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-08-03T16:41:0+02:00</ba:date>
	<ba:id>yapc-eu-2010-announcement</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>03 August 2009</b></p>
		<p>
		Dnes bolo oficálne vyhlásené, že YAPC::EU::2010 sa bude konať
		v meste <a href="http://sk.wikipedia.org/wiki/Pisa">Pisa</a> v Taliansku.
		</p>
		<p style="text-align: center;">
		<a href="http://en.wikipedia.org/wiki/Pisa">
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Leaning_tower_of_pisa_2.jpg/180px-Leaning_tower_of_pisa_2.jpg" width="180" height="240" alt="šikmá veža v meste Pisa" />
		</a>
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>03 August 2009</b></p>
		<p>
		Today the location for the next YAPC::EU was announced: 
		YAPC::EU::2010 will be held in <a href="http://en.wikipedia.org/wiki/Pisa">Pisa</a>, Italy.
		</p>
		<p style="text-align: center;">
		<a href="http://en.wikipedia.org/wiki/Pisa">
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Leaning_tower_of_pisa_2.jpg/180px-Leaning_tower_of_pisa_2.jpg" width="180" height="240" alt="the leaning tower of Pisa" />
		</a>
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Jonathanova prezentácia na YAPC::EU::2009</ba:title>
	<ba:title lang="en">Jonathan talk @ YAPC::EU::2009</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#yapc-eu-2009-jonathan</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-08-04T14:45:0+01:00</ba:date>
	<ba:id>yapc-eu-2009-jonathan</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>04 August 2009 14:45</b></p>
		<p>
		Dnes odznela Jonathanova prezentácia s názvom
		<a href="http://yapceurope2009.org/ye2009/talk/2079">Perl 6 Roles In Depth‎</a>
		na <a href="http://yapceurope2009.org/ye2009/">YAPC::EU::2009</a>.
		</p>
		<p style="text-align: center;">
		<a href="http://yapceurope2009.org/ye2009/talk/2079">
		<img src="http://bratislava.pm.org/images/whoiswho/Jonathan-YAPC-EU-2009.jpg" width="378" height="512" alt="Jonathan YAPC::EU::2009" />
		</a>
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>04 August 2009 14:45</b></p>
		<p>
		Today Jonathan gave a talk named
		<a href="http://yapceurope2009.org/ye2009/talk/2079">Perl 6 Roles In Depth‎</a>
		at <a href="http://yapceurope2009.org/ye2009/">YAPC::EU::2009</a>.
		</p>
		<p style="text-align: center;">
		<a href="http://yapceurope2009.org/ye2009/talk/2079">
		<img src="http://bratislava.pm.org/images/whoiswho/Jonathan-YAPC-EU-2009.jpg" width="378" height="512" alt="Jonathan YAPC::EU::2009" />
		</a>
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Emmanuelov lightning talk na YAPC::EU::2009</ba:title>
	<ba:title lang="en">Emmanuels lightning talk @ YAPC::EU::2009</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#yapc-eu-2009-emmanuel</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-08-04T16:45:0+01:00</ba:date>
	<ba:id>yapc-eu-2009-emmanuel</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>04 August 2009 16:45</b></p>
		<p>
		Dnes odznel Emmanuelov lightning talk s názvom
		<a href="http://yapceurope2009.org/ye2009/talk/2267">Champlain - OpenStreetMaps widget</a>
		na <a href="http://yapceurope2009.org/ye2009/">YAPC::EU::2009</a>.
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>04 August 2009 16:45</b></p>
		<p>
		Today Emmanuel gave a lightning talk named
		<a href="http://yapceurope2009.org/ye2009/talk/2267">Champlain - OpenStreetMaps widget</a>
		at <a href="http://yapceurope2009.org/ye2009/">YAPC::EU::2009</a>.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Jozefova prezentácia na YAPC::EU::2009</ba:title>
	<ba:title lang="en">Jozef talk @ YAPC::EU::2009</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#yapc-eu-2009-jozef</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-08-05T11:55:0+01:00</ba:date>
	<ba:id>yapc-eu-2009-jozef</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>05 August 2009 11:55</b></p>
		<p>
		Dnes odznela Jozefova prezentácia s názvom
		<a href="http://yapceurope2009.org/ye2009/talk/1930">Static can be more</a>
		na <a href="http://yapceurope2009.org/ye2009/">YAPC::EU::2009</a>.
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>05 August 2009 11:55</b></p>
		<p>
		Today Jozef gave a talk named
		<a href="http://yapceurope2009.org/ye2009/talk/1930">Static can be more</a>
		at <a href="http://yapceurope2009.org/ye2009/">YAPC::EU::2009</a>.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Bratislava.pm meeting v Októbri</ba:title>
	<ba:title lang="en">Bratislava.pm October meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#meeting-ba-pm-2009-10</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-10-15T18:00:0+02:00</ba:date>
	<ba:id>meeting-ba-pm-2009-10</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>15 Október 2009 18:00</b></p>
		<p>
		Tentoraz sme mali špeciálneho hosťa - <a href="http://andy.sh/">Andrew Shitow</a>,
		ktorý mal prezentáciu "Perl 6 compiler". Druhá prezentácia bola
		od <a href="http://use.perl.org/~potyl/journal">Emmanuela</a> s názvom "Pexeso".
		Skončili sme (asi už pomaly tradične) v Bastione, kde sme si užili
		dobré pivo, dobré jedlo a free WiFi.
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>15 October 2009 18:00</b></p>
		<p>
		This time we have had a special guest -
		<a href="http://andy.sh/">Andrew Shitow</a> who made
		a talk called "Perl 6 compiler". The second talk was done by
		<a href="http://use.perl.org/~potyl/journal">Emmanuel</a>
		called "Pexeso". After the meeting we went to Bastion where we
		appreciated a good beer, good food and a free WiFi.
		</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Bratislava.pm meeting v Novembri</ba:title>
	<ba:title lang="en">Bratislava.pm November meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#meeting-ba-pm-2009-11</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2009-11-18T18:00:0+02:00</ba:date>
	<ba:id>meeting-ba-pm-2009-11</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>18 November 2009 18:00</b></p>
		<p>Boli tieto tri prezentácie:</p>
		<ul>
			<li>Jonathan - Meta-models: the magic that makes OO less magical</li>
			<li>Jozef - IRC bots</li>
			<li>Emmanuel - Gtk2::SourceView2</li>
		</ul>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>18 November 2009 18:00</b></p>
		<p>We have had this three presentations:</p>
		<ul>
			<li>Jonathan - Meta-models: the magic that makes OO less magical</li>
			<li>Jozef - IRC bots</li>
			<li>Emmanuel - Gtk2::SourceView2</li>
		</ul>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Bratislava.pm meeting v Októbri</ba:title>
	<ba:title lang="en">Bratislava.pm October meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#meeting-ba-pm-2010-10</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2010-10-22T18:00:0+02:00</ba:date>
	<ba:id>meeting-ba-pm-2010-10</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>22 Október 2010 18:00</b></p>
		<p>Prezentácie:</p>
		<ul>
			<li>Jozef - <a href="http://bratislava.pm.org/presentation/cpan-vnutornosti.html">CPAN vnútornosti</a></li>
			<li>Emmanuel - ako môžeme spojiť Log4perl s SOAP::Lite-om (lightning talk)</li>
		</ul>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>22 October 2010 18:00</b></p>
		<p>Presentations:</p>
		<ul>
			<li>Jozef - <a href="http://bratislava.pm.org/presentation/cpan-vnutornosti.html">CPAN vnútornosti</a></li>
			<li>Emmanuel - Log4perl + SOAP::Lite (lightning talk)</li>
		</ul>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Bratislava.pm meeting v Máji</ba:title>
	<ba:title lang="en">Bratislava.pm May meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#meeting-ba-pm-2011-05</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2011-05-16T18:00:0+02:00</ba:date>
	<ba:id>meeting-ba-pm-2011-05</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>16 Máj 2011 18:00</b></p>
		<p>Témy:</p>
		<ul>
			<li>Cyclone3 BugDay</li>
			<li>"\N{SOFT HYPHEN}"</li>
			<li><a href="http://pkg-perl.alioth.debian.org/cpan2deb/">http://pkg-perl.alioth.debian.org/cpan2deb/</a></li>
			<li><a href="http://2011.qa-hackathon.org/">http://2011.qa-hackathon.org/</a></li>
			<li>Potyl - <a href="https://github.com/potyl/Webkit">Webkit</a></li>
		</ul>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>16 May 2011 18:00</b></p>
		<p>Topics:</p>
		<ul>
			<li>Cyclone3 BugDay</li>
			<li>"\N{SOFT HYPHEN}"</li>
			<li><a href="http://pkg-perl.alioth.debian.org/cpan2deb/">http://pkg-perl.alioth.debian.org/cpan2deb/</a></li>
			<li><a href="http://2011.qa-hackathon.org/">http://2011.qa-hackathon.org/</a></li>
			<li>Potyl - <a href="https://github.com/potyl/Webkit">Webkit</a></li>
		</ul>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title>YAPC::Europe 2011 - Riga</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#yapc-eu-2011</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2011-08-15T10:00:0+03:00</ba:date>
	<ba:id>yapc-eu-2011</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>15-17 August 2011</b></p>
		<p>Tento rok sa bude konať <a href="http://www.yapceurope.lv/ye2011/">YAPC::Europe 2011</a> v Rige.</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>15-17 August 2011</b></p>
		<p>This years <a href="http://www.yapceurope.lv/ye2011/">YAPC::Europe 2011</a> will take place in Riga.</p>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">Bratislava.pm meeting v Septembri</ba:title>
	<ba:title lang="en">Bratislava.pm September meeting</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#meeting-ba-pm-2011-09</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2011-09-08T18:00:0+02:00</ba:date>
	<ba:id>meeting-ba-pm-2011-09</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>8 September 2011 18:00</b> - <a href="http://www.progressbar.sk/events?p_p_id=8&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_8_struts_action=%2Fcalendar%2Fview_event&amp;_8_redirect=http%3A%2F%2Fwww.progressbar.sk%2Fevents%3Fp_p_id%3D8%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-1%26p_p_col_count%3D1%26_8_tabs1%3Dmonth%26_8_month%3D8%26_8_struts_action%3D%252Fcalendar%252Fview%26_8_year%3D2011%26_8_day%3D25%26_8_eventType%3D&amp;_8_eventId=37441">progressbar.sk</a></p>
		<p>Témy:</p>
		<ul>
			<li>barney - <a href="http://search.cpan.org/perldoc?SQL::Admin">SQL::Admin</a></li>
			<li>potyl - <a href="https://github.com/potyl/camarero">very simple web server</a></li>
			<li>jozef - <a href="/presentation/yapc-eu-2011.html">YAPC::EU::2011</a></li>
			<li>* - TwinCity Perl Workshop 2011 organizačné veci</li>
		</ul>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>8 September 2011 18:00</b> - <a href="http://www.progressbar.sk/events?p_p_id=8&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_col_id=column-1&amp;p_p_col_count=1&amp;_8_struts_action=%2Fcalendar%2Fview_event&amp;_8_redirect=http%3A%2F%2Fwww.progressbar.sk%2Fevents%3Fp_p_id%3D8%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Dcolumn-1%26p_p_col_count%3D1%26_8_tabs1%3Dmonth%26_8_month%3D8%26_8_struts_action%3D%252Fcalendar%252Fview%26_8_year%3D2011%26_8_day%3D25%26_8_eventType%3D&amp;_8_eventId=37441">progressbar.sk</a></p>
		<p>Topics:</p>
		<ul>
			<li>barney - <a href="http://search.cpan.org/perldoc?SQL::Admin">SQL::Admin</a></li>
			<li>potyl - <a href="https://github.com/potyl/camarero">very simple web server</a></li>
			<li>jozef - <a href="http://bratislava.pm.org/presentation/yapc-eu-2011.html">YAPC::EU::2011</a></li>
			<li>* - TwinCity Perl Workshop 2011 orga stuff</li>
		</ul>
	</ba:description>
</ba:event>

<ba:event>
	<ba:title lang="sk">TwinCity Perl Workshop 2011 - Call for papers</ba:title>
	<ba:title lang="en">TwinCity Perl Workshop 2011 - Call for papers</ba:title>
	<ba:link>http://bratislava.pm.org/events.html#meeting-ba-pm-2011-09</ba:link>
	<ba:subject>events</ba:subject>
	<ba:creator>jozef</ba:creator>
	<ba:date>2011-09-13T22:30:0+02:00</ba:date>
	<ba:id>tcpw2011-call-for-papers</ba:id>
	<ba:description lang="sk" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>13 September 2011</b></p>
		<p>
			Ohlasujeme "call for papers" to znamená, že sa hľadajú prednášatelia na
			<a href="http://conferences.yapceurope.org/tcpw2011/">TwinCity Perl Workshop 2011</a>,
			ktorý sa bude konať 4. a 5. novembra vo Viedni a Bratislave.
			Prednášky by sa mali týkať programovacieho jazyka Perl, nástrojov a projektov,
			ktoré sú riešené pomocou neho. Termín podania prihlášky na prezentáciu je
			15. október.
		</p>
		<p>
			Na poslanie abstraktu použite <a href="http://conferences.yapceurope.org/tcpw2011/">našu stránku</a>.
		</p>
		<p>
			Prosím prihláste sa na
			<a href="http://conferences.yapceurope.org/tcpw2011/atom/en.xml">odoberanie newsfeed-u</a>,
			aby ste boli vždy načas informovaní o novinkách.
		</p>
	</ba:description>
	<ba:description lang="en" xmlns="http://www.w3.org/1999/xhtml">
		<p><b>13 September 2011</b></p>
		<p>
			We are announcing the call for papers for talks and workshops for the
			<a href="http://conferences.yapceurope.org/tcpw2011/">TwinCity Perl Workshop 2011</a>
			which will be held on 4th–5th November in Vienna and
			Bratislava. We would like to hear about your topics concerning the Perl family
			of languages and related topics. The deadline for submissions is October 15th.
		</p>
		<p>
			To submit a talk abstract and for further details visit
			<a href="http://conferences.yapceurope.org/tcpw2011/">our web site</a>.
		</p>
		<p>
			Please <a href="http://conferences.yapceurope.org/tcpw2011/atom/en.xml">subscribe to the newsfeed</a>
			to stay updated.
		</p>
	</ba:description>
</ba:event>


</ba:events>
