[%
META title       = "Perl links collection";
META description = "Perl links collection";
META keywords    = "Perl, webdesign, programming, xml, links";
%]

<h1>[% lang == 'sk' ? 'Všeobecné linky' : 'General links' %]</h1>
<ul>
	<li>Bratislava.pm.org <a href="[% content_root %]news.rdf">news feed</a></li>
	<li><a href="http://www.perl.sk">www.perl.sk</a> - Slovenská stránka o Perle</li>
	<li><a href="http://www.perl.org">www.perl.org</a> - The Perl Directory</li>
	<li><a href="http://use.perl.org">use.perl.org</a> - All the Perl that's Practical to Extract and Report</li>
	<li><a href="http://perldoc.perl.org/">perldoc.perl.org</a> - Perl documentation</li>
	<li><a href="http://www.cpan.org">www.cpan.org</a>
		or <a href="http://search.cpan.org">search.cpan.org</a> - Comprehensive Perl Archive Network</li>
	<li><a href="http://perlbuzz.com/">perlbuzz.com</a> - The newest and best of the Perl World.</li>
	<li><a href="http://refcards.com/subject/perl">Perl reference cards</a></li>
	<li><a href="http://perldoc.perl.org/perlcheat.html">Perl Cheat Sheet</a></li>
	<li><a href="http://www.perlfoundation.org/perl5/index.cgi">Perl 5 Wiki</a></li>
	<li><a href="http://perl6.cz/">Perl6 CZ</a></li>
	<li><a href="http://perl-begin.org/">Perl Beginners' Site</a></li>
</ul>
<h1>DBIx::Class</h1>
<ul>
	<li><a href="http://search.cpan.org/perldoc?DBIx::Class::Manual::DocMap">Documents Map</a>
		- Zoznam všetkej cpan dokumentácie k DBIx::Class</li>
	<li><a href="http://search.cpan.org/perldoc?DBIx::Class::Manual::Cookbook">Cookbook</a>
		- kuchárka, vela užitočných príkladov</li>
	<li><a href="http://search.cpan.org/perldoc?DBIx::Class::ResultSet">ResultSet</a>
		- zaujímavé keďže všetky vyhľadávania su Resultset</li>
</ul>
<h1>Catalyst</h1>
<ul>
	<li><a href="http://catalyst.perl.org/">Catalys Homepage</a></li>
	<li><a href="http://dev.catalyst.perl.org/wiki/">Catalyst Trac Wiki</a></li>
	<li><a href="http://catwiki.toeat.com/">new Catalyst MojoMojo Wiki</a></li>
	<li><a href="http://search.cpan.org/perldoc?Catalyst::Manual::Intro">Intro</a>
		- Úvod do Catalyst-u</li>
	<li><a href="http://search.cpan.org/perldoc?Catalyst::Manual::Tutorial">Tutorial</a>
		- krok po kroku tutorial ku Catalyst-u</li>
	<li><a href="http://search.cpan.org/perldoc?Catalyst::Manual::Plugins">Plugins</a>
		- zoznam (nie úplný) Catalyst plugin-ov</li>
</ul>


<h1>Databázy</h1>
<ul>
	<li><a href="http://dev.mysql.com/doc/">MySQL</a>, <a href="http://www.mysqlperformanceblog.com/">MySQL Performance Blog</a></li>
	<li><a href="http://www.oracle.com/pls/db102/homepage">Oracle</a>,
	<a href="http://asktom.oracle.com/">askTom</a></li>
	<li><a href="http://www.postgresql.org/docs/8.2/interactive/index.html">Postgres</a></li>
</ul>

<h1>Bratislava Perl Mongers</h1>
<ul>
	<li><a href="[% content_root %]download/templates/presentation-template.otp">OpenOffice vzor pre prezentáciu</a></li>
</ul>

<h1>XML</h1>
<ul>
<li> XSLT
<ul>
	<li><a href="http://www.dpawson.co.uk/xsl/sect1/sect1.html">XSLT. Where to Start</a></li>
	<li><a href="http://www.dpawson.co.uk/xsl/sect2/sect21.html">XSLT Questions and Answers - FAQ</a></li>
	<li><a href="http://exslt.org/">EXSLT</a></li>
	<li><a href="http://search.cpan.org/perldoc?XML::LibXSLT#register_function">Registers an XSLT Perl extension function mapped to the given URI.</a></li>
	<li><a href="http://www.mulberrytech.com/quickref/XSLT_1quickref-v2.pdf">XSLT 1.0 and XPath 1.0 Quick Reference</a></li>
</ul>
</li>
<li> XSD
<ul>
	<li><a href="http://www.w3.org/XML/Schema#dev">XML Schema - Specifications and Development</a></li>
</ul>
</li>
</ul>

<h1>CSS</h1>
<ul>
    <li><a href="http://www.w3.org/Style/CSS/">CSS homepage</a></li>
    <li><a href="http://jigsaw.w3.org/css-validator/">online CSS validator</a></li>
    <li><a href="http://www.w3schools.com/css/css_reference.asp">CSS2 Reference</a></li>
    <li><a href="http://css3.com/">CSS 3 reference guide and tutorial</a></li>
    <li><a href="http://meyerweb.com/eric/css/">Eric Meyer: CSS</a></li>
    <li><a href="http://www.dynamicdrive.com/style/csslibrary/">CSS Library</a></li>
    <li><a href="http://people.opera.com/howcome/2006/phd/">Håkon Wium Lie, CSS thesis</a></li>
    <li><a href="http://www.blueprintcss.org/">Blueprint - CSS framework</a></li>
</ul>

<h1>Design</h1>
<ul>
	<li><a href="http://www.oswd.org/">Open Source Web Design - Download free web design templates.</a></li>
	<li><a href="http://www.openclipart.org/">Open Clip Art Library Drawing Together</a></li>
	<li><a href="http://commons.wikimedia.org/wiki/Main_Page">Wikimedia Commons</a></li>
	<li><a href="http://tango.freedesktop.org/Tango_Desktop_Project">Tango Desktop Project</a> (GPL)</li>
	<li><a href="http://www.everaldo.com/crystal/">Crystal Interaction Design Project</a> (LGPL)</li>
	<li><a href="http://www.1001freefonts.com/">1001 Free Fonts</a></li>
	<li><a href="http://icondock.com/free">Icon Dock - Free Icons</a></li>
	<li><a href="http://www.1stwebdesigner.com/">1stwebdesigner</a></li>
	<li><a href="http://logopond.com/">LogoPond</a></li>
	<li><a href="http://search.creativecommons.org/">Search by Creative Commons</a></li>
	<li><a href="http://patterntap.com/">Organized Web Design Collection of User Interfaces for Inspiration and Ideas</a></li>
	<li><a href="http://kuler.adobe.com">Explore, create and share color themes</a></li>
</ul>

<h1>GUI with GTK+</h1>
<ul>
    <li><a href="http://library.gnome.org/devel/gtk/stable/">GTK+ Reference Manual</a></li>
    <li><a href="http://gtk2-perl.sourceforge.net/">gtk2-perl is the collective name for a set of perl bindings for Gtk+ 2.x and various related libraries.</a></li>
    <li><a href="http://gtk2-perl-ex.sourceforge.net/">gtk2-perl-ex is the collective name for a set of extensions to the gtk2-perl</a></li>
    <li><a href="http://glade.gnome.org/docs/index.html">Glade User Interface Designer Reference Manual</a></li>
</ul>

<h1>Perl based CMS</h1>
<ul>
    <li><a href="http://www.cyclone3.org/">Cyclone3</a> is extremely flexible open source framework designed for development of content management systems and custom applications  developed for commercial purposes for almost 7 years history.</li>
    <li><a href="http://movabletype.org/">Movable Type</a> is a weblog publishing system</li>
    <li><a href="http://xims.info/">XIMS</a> is an Open Source Information/Content Management System that primarily provides facilities to create and manage web sites. With XIMS it is possible to make use of a flexible recursive role and ACL system for securing content.</li>
</ul>

<h1>Moose</h1>
<ul>
    <li><a href="http://search.cpan.org/perldoc?Moose">Moose</a> A postmodern object system for Perl 5</li>
    <li><a href="http://search.cpan.org/perldoc?Moose::Util::TypeConstraints">Moose::Util::TypeConstraints</a> Type constraint system for Moose</li>
    <li><a href="http://search.cpan.org/perldoc?MooseX::StrictConstructor">MooseX::StrictConstructor</a> Make your object constructors blow up on unknown attributes</li>
    <li><a href="http://search.cpan.org/perldoc?MooseX::Method">MooseX::Method</a> Method declaration with type checking</li>
    <li><a href="http://search.cpan.org/perldoc?MooseX::Declare">MooseX::Declare</a> Declarative syntax for Moose</li>
    <li><a href="http://tinyurl.com/moosequickref">Moose Quick-Ref Card</a></li>
    <li><a href="http://babyl.dyndns.org/techblog/manuals/">PDF output of the entire Moose manual</a></li>
</ul>

